<app-menu></app-menu>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-838937792-1522753830.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<h1 class="text-center display-1 mb-4 contacto">Contactanos</h1>
<h3 class="lead font mb-4 text-center">
  Te invitamos a escribir tu solicitud, agradecimiento, queja o reclamo a través de nuestro formulario de contacto.
</h3>
<div class="container mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 p-2">
      <form class="w-full">

        <div class="row g-2 mb-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid" placeholder="Nombre..." value="">
              <label for="floatingInputGrid">Nombre</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid" placeholder="Apellido..." value="">
              <label for="floatingInputGrid">Apellido</label>
            </div>
          </div>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid" placeholder="Telefono" value="">
              <label for="floatingInputGrid">Telefono</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid" placeholder="Ciudad" value="">
              <label for="floatingInputGrid">Ciudad</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
          <label for="floatingInputGrid">Email address</label>
        </div>
        <div class="form-floating mb-4">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-sm-12 col-md-6">
      <img width="100%" height="100%" src="https://www.pcworld.es/cmsdata/slideshow/3787695/1ropa_deporte_thumb800.jpg" alt="">
    </div>
  </div>
</div>
<app-footer></app-footer>
