

<nav class="navbar navbar-expand-lg navbar-dark bg-info ">
    <div class="container-fluid">
      <a class="navbar-brand  fs-3 text-dark  px-4 " >LOGO</a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav  mx-auto  mb-2 mb-lg-0 fs-4  text-dark  ">

          <li class="nav-item">
            <a class="nav-link  active  text-dark  px-4" aria-current="page" routerLink ="/inicio" >Inicio</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  active text-dark  px-4 " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink ="/futbol">Futbol</a></li>
              <li><a class="dropdown-item" routerLink ="/natacion">Natacion</a></li>
              <li><a class="dropdown-item" routerLink ="/tenisdemesa">Tenis de mesa</a></li>
              <!-- <li><a class="dropdown-item" routerLink ="/login">login</a></li> -->
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link   active  text-dark px-4" >Contacto</a>
          </li>

          <li class="nav-item dropdown" *ngIf="admin" >
            <a class="nav-link dropdown-toggle  active text-white"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" routerLink ="/    ">Clientes</a></li> -->
              <li><a class="dropdown-item" routerLink="/productos">Productos</a></li>
              <!-- <li><a class="dropdown-item" routerLink ="/    ">Ventas</a></li> -->
            </ul>
          </li>

          <li class="nav-item" *ngIf="!admin">
            <a class="nav-link  active  text-white  px-5" aria-current="page" routerLink ="/login"  >Iniciar sesion </a>
          </li>
        </ul>

        <div class="d-flex justify-content-center w-100" *ngIf="admin">
          <button class="btn btn-outline-success" type="submit"  (click)="cerrarSesion()">Cerrar Sesion</button>
        </div>

        <button routerLink="/carrito" type="button" class="cart position-relative pe-2">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ numberCart }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>

    </div>
  </nav>
