
<app-menu></app-menu>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.semana.com/resizer/RHADyG7kDrnpf9hVs6LKn-757hk=/1200x675/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/HRKAC4LMSBABJITDK3Z42D7YX4.jpeg" class="d-block w-100" alt="...">
      </div>

    </div>
  </div>


<div class="container my-5 ">
  <h1 class="display-3" class="text-start">Bienvenido</h1>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Nuestra tienda
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Nuestra tienda ofrece un diverso surtido de productos para hacer deporte,</strong>
          tanto a nivel recreativo como profesional, con productos de una excelente calida y marcas
          reconocidas.

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Diversidad
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Estamos ubicados en la ciudad de Cali Colombia.</strong> nuestros
          articulos deportivos se orientan a disciplinas como el futbol, natacion, tenis de mesa,camisetas y ciclismo.
          Tembien te ofrecemos servicios para el mantenimiento de su bicicleta.
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container my-1 mx-auto ">
  <h2   class="text-center text-danger"><i class="bi bi-stars  fs-1"></i> Producto Nuevo <i class="bi bi-stars fs-1"></i></h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title  fs-2 ">Card title</h5>
      <p class="card-text  fs-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
    <img src="https://i.pinimg.com/originals/0c/8b/3e/0c8b3e17d2309f420964f6e4fe4e973e.jpg" class="card-img-bottom" alt="...">
  </div>



</div>

<app-footer></app-footer>


